<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PixelPic Home</title>
    <link rel="stylesheet" href="static/css/styles.css" />
  </head>
  <body>
    <div class="menu-bar">
      <img
        class="home-logo"
        src="../static/utils/images/pixelpic_logo.png"
        alt="Pixel Pic"
      />
      <div class="button-group">
        {% if user_logged_in %}
        <button class="current">Home</button>
        <a href="{{ url_for('go_premium') }}"><button>Go Premium</button></a>
        <a href="{{ url_for('logout') }}"><button>Logout</button></a>
        {% else %}
        <button class="current">Home</button>
        <a href="{{ url_for('login') }}"><button>Login</button></a>
        <a href="{{ url_for('register') }}"><button>Register</button></a>
        {% endif %}
      </div>
    </div>

    <div class="home-column">
      <section class="home-describe">
        <p class="home-title">UPSCALE YOUR IMAGE</p>
        <p class="home-desc">
          Revitalize your visuals: Elevate low-resolution images with AI-powered quality enhancer.
        </p>
      </section>

      <section>
        <div class="photo">
          <input
            class="img"
            type="file"
            id="file"
            accept="image/*"
            onchange="updateUploadStatus()"
          />
          <label class="imglbl" for="file">
            <img class="imgicon" src="../static/utils/images/Imgicon.png" />
          </label>

          <div id="upload-buttons" style="display: none">
            <div class="Upscale">
              <button class="UpscaleButt" id="upscale-button">UPSCALE</button>
              <span class="upload-status"></span>
            </div>
          </div>
          
          <div id="image-container">
            <!-- Empty div -->
          </div>

          </div>
        </div>
      </section>
    </div>
    
    <div id="uploaded-column" style="display: none">
      <div class="uploaded-image">
        <p class="upload-title">Uploaded Image vs Upscaled Image</p>
      </div>
    </div>

    <div id="upscaled-column" style="display: none">
      <div class="image-grid">
        <div id="uploaded-image-container"></div>
        <div id="upscaled-image-container"></div>
      </div>
    </div>

    <div id="download-button" style="display: none">
      <div class="Upscale1">
        <a id="download-link" class="DownloadButt" download="upscaled_image.jpg" href="#" onclick="downloadImage()">
          DOWNLOAD
        </a>
      </div>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
        $(document).ready(function () {
          $("#upscale-button").click(function () {
            var imageData = localStorage.getItem("imageData");
            console.log(imageData);
            if (uploadedImage && imageData != null) {
              $.ajax({
                url: "/upscale",
                method: "POST",
                data: {
                  imageData: imageData,
                },
                success: function (response) {
                  var element = document.getElementById("upscaled-column");
                  element.style.display = "block";
                  var imageSrc = "data:image/jpeg;base64," + response;
                  $("#upscaled-image-container").html(
                    "<img src='" + imageSrc + "' alt='Upscaled Image'>"
                  );
                  $("#download-link").attr("href", imageSrc);
                  $("#download-link").attr("download", "upscaled_image.jpg");
                  $("#download-button").css("display", "block");
                  $("#upscale-button").hide();
                  $(".upload-status").hide();
                 
                  var uploadedImageContainer = document.getElementById("uploaded-image-container");
                  uploadedImageContainer.innerHTML = "";
                  var uploadedImageElement = document.createElement("img");
                  uploadedImageElement.src = uploadedImage.src;
                  uploadedImageElement.alt = "Uploaded Image";
                  uploadedImageContainer.appendChild(uploadedImageElement);
                  $("#image-container").hide();
                  $("#uploaded-column").show();
                },
                error: function (error) {
                  console.log(error);
                },
              });
            } else {
              alert("Please upload an image first!");
            }
          });
        });

        function downloadImage(){
          var downloadLink = document.getElementById("download-link");
          var imageSrc = downloadLink.getAttribute("href");
          var fileName = downloadLink.getAttribute("download");

          var link = document.craeteElement("a");
          link.href = imageSrc;
          link.download = fileName;
          link.target = "_blank";
          link.click;

          document.body.appendChild(link);
          link.click()

          setTimeout(function(){
            URL.revokeObjectURL(link.href);
            link.remove();
          }, 100);
        }
      </script>
      <script src="/static/JS/main.js"></script>
  </body>
</html>
